doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noom
    script(src="https://kit.fontawesome.com/e46f3ffba2.js", crossorigin="anonymous") 
    link(rel="stylesheet", href="../public/css/style.css")
  body 
    div.wrap
      header
        div.left-child
          span 08:24
          button.home-btn(role="button")
            i.fa-solid.fa-house(aria-hidden="true")
        div.title
          h2 Chat room
        div.right-child
          img(src="../public/assets/phone.png", alt="signal icon")
          img(src="../public/assets/wifi.png", alt="wifi icon")
          img(src="../public/assets/battery.png", alt="battery icon")
      main
        div#welcome
          div.cm-subject
            div.subject
              h4 What is the room name?
            form
              div.input-wrap
                input(placeholder="room name", required, type="text", maxlength="30")
                button(role="button")
                  i.fa-solid.fa-paper-plane(aria-hidden="true")
          div.cm-subject.room-list
            div.subject
              h4 Open Rooms
            ul

        div#nickname
          div.cm-subject
            div.subject
              h4 What's your nickname?
            form#nick
              div.input-wrap
                input(placeholder="nickname", required, type="text", maxlength="20")
                button(role="button")
                  i.fa-solid.fa-paper-plane(aria-hidden="true")

        div#room
          div.msg-wrap 
            ul
          form#msg
            div.input-wrap
              input(placeholder="message", required, type="text")
              button(role="button")
                i.fa-solid.fa-paper-plane(aria-hidden="true")

    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 