@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Sans+KR&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #cacaca;
  color: #1d1d1d;
  font-family: "Inter", sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  font-size: 13px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #3478f6;
  cursor: pointer;
}

input {
  width: 80%;
  margin-left: 20px;
  border: none;
  outline: none;
}

.input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
}

.cm-subject {
  margin-top: 100px;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  max-width: 390px;
  min-height: 844px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}
.wrap header {
  display: flex;
  padding-top: 11px;
  box-sizing: border-box;
  height: 93px;
  font-weight: 700;
  background-color: #e6e6e6;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.wrap header .left-child {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding-left: 20px;
}
.wrap header .left-child span {
  font-size: 13px;
}
.wrap header .left-child button {
  width: fit-content;
  margin-top: 22px;
  font-size: 16px;
}
.wrap header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.wrap header .title h2 {
  font-size: 16px;
}
.wrap header .right-child {
  width: 15%;
  padding-right: 20px;
}
.wrap header .right-child img {
  width: 13px;
  margin-right: 5px;
}
.wrap main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 751px;
  overflow: auto;
}
.wrap main button {
  margin-right: 10px;
}
.wrap main .subject {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 22px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #3478f6;
}
.wrap main .subject h4 {
  font-size: 13px;
  color: #fff;
}
.wrap main #welcome {
  height: 100%;
}
.wrap main #welcome .room-list {
  height: 450px;
  overflow: auto;
}
.wrap main #nickname {
  margin-bottom: auto;
}
.wrap main #room {
  height: 100%;
}
.wrap main #room .msg-wrap {
  width: auto;
  height: 90%;
  padding: 24px 0;
  overflow: auto;
  box-sizing: border-box;
}
.wrap main #room ul {
  display: flex;
  flex-direction: column;
}
.wrap main #room li {
  width: fit-content;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 9px 10px -10px;
}
.wrap main #room li.someone {
  align-self: flex-start;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  color: #1d1d1d;
}
.wrap main #room li.myMessage {
  align-self: flex-end;
  border: none;
  background-color: #3478f6;
  color: #fff;
}
.wrap main #room li.notify {
  align-self: center;
  border: none;
  background-color: #ececec;
  color: #1d1d1d;
}
.wrap main #room li .nickname {
  margin-bottom: 10px;
  font-weight: 700;
}
.wrap main #room .input-wrap {
  width: 326px;
}

/*# sourceMappingURL=style.css.map */
