@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Sans+KR&display=swap");

$blue: #3478f6;
$gray: #ececec;
$black: #24292f;
$white: #fff;
$br-gray: #d9d9d9;
$placeholder-text: #b2b3b9;
$bgc: #f6f8fa;

$header-height-px: 93px;
$border-radius: 10px;

$font-family: "Inter", sans-serif;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Common
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include flex-center;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $bgc;
  color: $black;
  font-family: $font-family;
  font-size: 16px;
  letter-spacing: -0.005em;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  font-size: 13px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: $blue;
  cursor: pointer;
}

input {
  width: 83%;
  margin-left: 10px;
  border: none;
  outline: none;
  font-family: $font-family;
  font-size: 14px;
}

.input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border: 1px solid $br-gray;
  border-radius: $border-radius;
}

.cm-subject {
  margin-top: 100px;
}

// wrap
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  max-width: 390px;
  min-height: 844px;
  border-radius: $border-radius;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;

  // header
  header {
    display: flex;
    padding-top: 10px;
    box-sizing: border-box;
    height: $header-height-px;
    font-weight: 700;
    background-color: #e6e6e6;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    .left-child {
      display: flex;
      flex-direction: column;
      width: 15%;
      padding-left: 15px;
      span {
        font-size: 13px;
      }
      button {
        width: fit-content;
        margin-top: 22px;
        font-size: 16px;
      }
    }

    .title {
      @include flex-center;
      flex-grow: 1;
      h2 {
        font-size: 16px;
      }
    }

    .right-child {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      width: 15%;
      padding-right: 15px;
      img {
        width: 13px;
        margin-right: 5px;
        object-fit: contain;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  main {
    @include flex-center;
    flex-direction: column;
    position: relative;
    // height: calc(100% - $header-height-px);
    height: 751px;
    overflow: auto;

    button {
      margin-right: 10px;
    }

    .subject {
      @include flex-center;
      width: 280px;
      height: 30px;
      margin-bottom: 20px;
      border-radius: $border-radius;
      background-color: $blue;
      h4 {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
      }
    }

    #welcome {
      height: 100%;
      .room-list {
        height: 450px;
        overflow: auto;
        li {
          margin-bottom: 16px;
        }
      }
    }

    #nickname {
      margin-bottom: auto;
    }

    #room {
      height: 100%;
      .msg-wrap {
        width: auto;
        height: 90%;
        padding: 24px 0;
        overflow: auto;
        box-sizing: border-box;
      }

      ul {
        display: flex;
        flex-direction: column;
      }

      li {
        @include flex-center;
        width: fit-content;
        max-width: 280px;
        min-height: 30px;
        word-break: break-all;
        // height: 30px;
        padding: 8px;
        margin-bottom: 10px;
        border-radius: $border-radius;
        font-size: 13px;
        font-weight: 500;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 9px 10px -10px;

        &.someone {
          flex-direction: column;
          align-self: flex-start;
          background-color: $white;
          border: 1px solid $br-gray;
          color: $black;

          & > div {
            align-self: flex-start;
          }

          .nickname {
            margin-bottom: 10px;
            font-weight: 700;
          }
        }

        &.myMessage {
          align-self: flex-end;
          border: none;
          background-color: $blue;
          color: $white;
        }

        &.notify {
          align-self: center;
          border: none;
          background-color: $gray;
          color: $black;
          font-weight: 700;
        }
      }

      .input-wrap {
        width: 326px;
      }
    }
  }
}
